services:
  api:
    build:
      context: ../backend
    container_name: apply-api
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: database
      POSTGRES_PORT: 5432
    env_file:
      - ../backend/.env
    volumes:
      - uploads:/app/uploads
    depends_on:
      database:
        condition: service_healthy
    restart: unless-stopped
    expose:
      - "8888"   # internal only

  frontend:
    build:
      context: ../frontend
    container_name: apply-frontend
    restart: unless-stopped
    expose:
      - "80"     # internal only

  database:
    image: postgres:16
    container_name: apply-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /data/postgres
    env_file:
      - ../backend/.env
    volumes:
      - db:/data/postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: apply-edge
    depends_on:
      - api
      - frontend
    ports:
      - "80:80"
      # later when you add TLS:
      # - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    restart: unless-stopped

volumes:
  db:
  uploads:
